
data/


torch-gpu/
.venv/
venv/
env/
ENV/
.conda/


__pycache__/
*.py[cod]
*$py.class


*.log

.ipynb_checkpoints


.vscode/


.DS_Store
Thumbs.db

*.pt
*.pth
*.h5

.gradio/


build/
dist/
*.egg-info/
.eggs/


.coverage
htmlcov/
.tox/
.pytest_cache/


*.tmp
*.swp
